<body style="background-color: rgb(20, 16, 16);">
    <div style="background: black;text-align:center">
        <div style="width: 500px;
    height: 250px;
    background: rgba(217, 233, 247, 0.7);
    color: black;
    display: inline-block;
    position: absolute;
    left: 30%;
    top: 25%;
    border: 1px solid white;
    border-radius: 10px">
            <h2>
                Password Reset</h2>

            <p>
                Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
            </p>

            <form method="post">{% csrf_token %} {{form}}
                <br><br>
                <input style="background-color: blue;width:120px;height:30px;" type="submit" name="send email" />
            </form>
        </div>
    </div>
</body>