<body style="background-color: rgb(20, 16, 16);">
    <div style="background: black;text-align:center">
        <div style="width: 500px;
    height: 200px;
    background: rgba(217, 233, 247, 0.7);
    color: black;
    display: inline-block;
    position: absolute;
    left: 30%;
    top: 27%;
    border: 1px solid white;
    border-radius: 10px">
            <h2>Password Changed!</h2>
            <p style="color: rgb(73, 3, 105);">Password Changed Successfully!</p>
            <p style="color: rgb(73, 3, 105);">Conratulations!</p>
            <a style="color: rgb(145, 11, 11);" href="{% url 'registration' %}">Go to Login</a>
        </div>
    </div>
</body>